# Supabase API settings
# Supabase Dashboard -> Project Settings -> API
VITE_SUPABASE_URL=https://klyqnkmvvalnbflwobzu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtseXFua212dmFsbmJmbHdvYnp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwOTYwNjIsImV4cCI6MjA5NzY3MjA2Mn0.9C3Pw_Wl6rYfoVeLgOLOk8zS-urdZ3ntL_kJQ6oIkeQ
